$brand-primary:  #ffc90d;
$brand-info:  #7d7566;
$font-family-sans-serif:   "Trebuchet Ms", Helvetica, Arial, sans-serif;
$headings-font-family : 'Bretagne';
$border-radius: 0;
$border-radius-lg: 0;

$btn-secondary-color:            #fff;
$btn-secondary-bg:               #333;
$btn-secondary-border:           #333;
$btn-primary-color: #333;

$navbar-height: 5vh;

